
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Text</th>
                    <th>Creator</th>
                    <th>Kind</th>
                    <th>Etag</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="order in orders">
                    <td>
                        {{ order.id }}
                    </td>
                    <td>
                        {{ order.text }}
                    </td>
                    <td>
                        {{ order.creator }}
                    </td>
                    <td>
                        {{ order.kind }}
                    </td>
                    <td>
                        {{ order.etag }}
                    </td>
 
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
